body{
  margin:0;
  padding: 0;
  font-family: sans-serif;
  background: url(bus_image_3.png) no-repeat;
  background-size:1700px 1100px;

}
.pay_label{
color: white;
position: absolute;
top:2%;
left: 40%;
font-size: 64px;


}


.pay_box{
  width: 280px;
  position: absolute;
  top:25%;
  left:30%;
  transform: translate(-50%,-50%);
  color: white;
}
.holder_box {

  width: 100%;
  overflow: hidden;

  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid ;


}
.holder_box input{

  border: none;
  outline: none;
  background:none;
  width: 80%;
  font-size: 18px;
  color:white;

}

.card_no_box {

  width: 100%;
  overflow: hidden;

  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid ;


}
.card_no_box input{

  border: none;
  outline: none;
  background:none;
  width: 80%;
  font-size: 18px;
  color:white;

}

.dt_exp {

  width: 100%;
  overflow: hidden;

  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid ;


}
.dt_exp input{

  border: none;
  outline: none;
  background:none;
  width: 80%;
  font-size: 18px;
  color:white;

}

.button_amt{
  position: absolute;
  top:40%;
  left:23%;
  border: 1px solid white;
  outline: 1px;
  background:none;
  width: 200px;
  font-size: 18px;
  color: white;
  padding: 8px;





}
.button_amt:hover{


  background-color: white;
  color: blue;
  font-weight: bold;
}
